.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.container {
  width: 360px;
  border: 1px solid white;
}

.button-option {
  display: block;
  width: 100%;
  margin: 15px 0;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  border-style: dashed;

  font-size: 18px;
}
